.header_nav {
  background: #023047;
  padding: 8px 0 !important;
}
.header_nav .navbar-nav {
  flex-direction: row;
  align-items: center;
}

.vertical-line {
  border-right: 2px solid #acacac;
  margin: 0 20px;
  height: 35px;
}
.nav-menu-icon {
  height: 32px;
  width: 32px;
  border: 0;
  vertical-align: middle;
  background-size: 100%;
  min-width: 100% !important;
}
.notification-btn .nav-menu-icon {
  background: url('../../assets/images/bell.svg') no-repeat center center;
}

.header_nav .navbar-nav .MuiPaper-root {
  background-color: #fff !important;
  border-radius: 0 0 4px 4px !important;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2) !important;
  z-index: 1 !important;
  max-width: 250px;
}
.header_nav .navbar-nav .MuiPaper-root::before {
  content: '';
  position: absolute;
  top: -15%;
  left: 55%;
  margin-left: 43px;
  border-width: 10px;
  border-bottom: 16px solid #f8f8fb;
  border-style: solid;
  border-color: transparent transparent #f8f8fb transparent;
}
.header_nav .navbar-nav .MuiMenuItem-root {
  white-space: inherit !important;
  overflow: auto !important;
}

.nav-item .nav-menu-icon {
  padding: 20px !important;
  background: url('../../assets/images/user-icon.svg') no-repeat center center;
}
.navbar h3 {
  font-family: Lato;
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  color: #f8a066;
  align-items: center;
  display: flex;
  margin-bottom: 0;
}
.navbar h3 span {
  color: #f16a21;
}
.navbar-brand img {
  border-right: 2px solid #7b7b7b;
  padding-right: 15px;
}
.navbar-brand {
  margin-right: 7px;
  display: inline-table;
  padding-right: 8px !important;
}
.nav-item > div {
  top: 10px !important;
  left: 0 !important;
}

.navbar-nav .MuiList-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.menu-list {
  font-size: 14px !important;
  letter-spacing: 0.1px !important;
  color: #757575 !important;
}
.menu-list-item {
  padding: 10px 0;
  font-weight: 500;
  cursor: pointer;
}
.menu-list-item img {
  height: 15px;
  width: 15px;
}
.menu-list-item span {
  padding-left: 8px;
}
