.disableDeleteBtn {
  /* 
  cursor: not-allowed;   
  display: none; */
  pointer-events: none;
  opacity: 30%;
}
.modalDesign.deleteModal {
  width: 532px;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 20%;
}
.modalDesign.deleteModal h2{
  background: #F8F8F8;
  box-shadow: 0px 1px 0px rgb(0 0 0 / 15%);
  border-radius: 4px 4px 0px 0px;
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;
  line-height: 44px;
  color: #209EC5;
  padding: 0 20px;
}
.modalDesign.deleteModal form{
  padding: 20px;
  position: relative;
}
.modalDesign.deleteModal p{
  font-family: Lato;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #626364;
  margin-bottom: 10px;
}
.modalDesign.deleteModal textarea{
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 4px;
  height: 73px;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #E0E0E0;
}
.modalDesign.deleteModal textarea:focus-visible{
  border: 1px solid #BDBDBD;
  outline: none;
}
.modalDesign.deleteModal .descr{
  font-family: Lato;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #626364;
  padding: 20px 50px 0;
}
.modalDesign.deleteModal button{
  background: #FFFFFF;
    border: 1px solid #209EC5;
    box-sizing: border-box;
    border-radius: 2px;
    color: #209EC5;
    width: 115px;

}
.modalDesign.deleteModal .delete-btn{
  background: #209EC5;
  color: #fff;
}
.modalDesign.deleteModal .btn-primary:not(:disabled):not(.disabled).active, .modalDesign.deleteModal .btn-primary:not(:disabled):not(.disabled):active, .modalDesign.deleteModal .show>.btn-primary.dropdown-toggle{
  background:transparent;
  border-color: #209EC5;
  color: #209EC5;
}
.modalDesign.deleteModal .error-msg{
  position: absolute;
    font-size: 10px;
    top: 43%;
    left: 4%;
}
table {
  font-family: 'Lato', sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 0 !important;
}

table td,
table th {
  border: none;
  padding: 8px;
  padding: 0 15px !important;
  height: 40px;
  line-height: 40px;
}
.filter-row h5{
  float:left;
  font-family: Lato;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #757575;
  margin: 0;
}
.filter-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.filter-row input{
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #757575;
  height: 28px;
  padding: 0 10px;
  background: #fff url("../../assets/images/search.svg") no-repeat 95%;
  box-shadow: 0px 0px 2px rgb(0 0 0 / 35%);
  border-radius: 2px;
  border: 1px solid transparent;
}
.filter-row select{
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #757575;
  border: none;
  background:transparent url("../../assets/images/filter.svg") no-repeat;
  padding-left: 16px;
}
.filter-row input:focus-visible, .filter-row select:focus-visible{
  outline: 0 !important;
}
table tr:nth-child(even) {
  background-color: #fafafa;
}

table tr:hover {
  background-color: #ddd;
}

table th, tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
.table-pagination{
  text-align: right;
  padding: 10px 15px;
  background: #fff;
  border: 1px solid #dee2e6;
  border-top:0;
}
.table-pagination .pageNum{
  border:0;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
  margin-right: 10px;
}
.table-pagination label{
  font-size: 14px;
  line-height: 16px;
  color: #757575;

}
.table-pagination span{
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}
.prev-next{
  display: inline;
  padding-left: 10px;
}
.prev-next button{
  border: 0;
  font-size: 23px;
    line-height: 23px;
    color: #757575;
    background:transparent;
}
.padding0{
  padding:0;
}