.container_login {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}
.wrap_login {
    width: 100%;
    background: #f7f7f7;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
}
.login_form{
    width: 65%;
    min-height: 100vh;
    display: block;
    background-color: #f7f7f7;
    padding: 9% 55px 55px;
}
.login_more{
	width: calc(100% - 65%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
	background-image: url("../../assets/images/Login_bg.png");
	border-bottom-right-radius:90px;
}
.form_main{
	margin: 0 auto;
    width: 350px;
}
.login-form-title h3{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #023047;
}
.login-form-title p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #57565C;
}
.login-form-title {
	margin-bottom:50px;
}
.validate-input .form-label{
	font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #7B7B7B;
}
.validate-input .form-control{
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	min-height: 44px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 4px;
}
.validate-input .form-control:focus{
	box-shadow:0 0 0 0;
}
.form_main .form_btn_group .btn_blue{
	min-height: 44px;
    background: #239EC5;
    border-radius: 4px;
    color: #fff;
}
.validation_msg{
	color:#ff0000;
	font-size:14px;
}
.form_btn_group{
    padding: 0;
}